ENV=development
POSTGRES_URL=postgresql://user:password@localhost:5432/lotto_db
MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/lotto_db?retryWrites=true&w=majority
MODEL_PATH=../lotto649-data/models/model.pkl
POOL_PATH=../lotto649-data/models/top20.csv
FRONTEND_URL=http://localhost:5173
API_VERSION=v1
APP_NAME=lotto649-api